Repository axentix/axentix, pull requests merged in 2022-02, with the labels that each got.

#79 feat: improve getComponentOptions
  examples/collapsible.html
  examples/tab.html
  src/components/caroulix/caroulix.ts
  src/components/collapsible/collapsible.ts
  src/components/dropdown/dropdown.ts
  src/components/fab/fab.ts
  src/components/lightbox/lightbox.ts
  src/components/modal/modal.ts
  src/components/scrollspy/scrollspy.ts
  src/components/sidenav/sidenav.ts
  src/components/tab/tab.ts
  src/components/toast/toast.ts
  src/components/tooltip/tooltip.ts
  src/utils/data.ts
  src/utils/utilities.ts
Labels: size/L, scope/components, scope/utils, scope/examples

#80 feat: add disabled style for form-switch
  examples/forms.html
  src/components/forms/_switch.scss
Labels: scope/components, scope/examples, size/S

#81 feat: new form material variant
  CHANGELOG.md
  examples/forms.html
  src/components/forms/_inputs.scss
  src/components/forms/_textarea.scss
  src/components/forms/forms.ts
Labels: size/L, scope/components, scope/examples

#85 fix: components data prefix
  CHANGELOG.md
  examples/forms.html
  examples/waves.html
  src/components/forms/_inputs.scss
  src/components/forms/forms-validation.ts
  src/components/forms/forms.ts
  src/components/waves/waves.scss
  src/components/waves/waves.ts
Labels: size/L, scope/components, scope/examples

#87 feat: add css variables for axentix palette
  CHANGELOG.md
  package-lock.json
  package.json
  src/core/_colors.scss
  src/core/_variables.scss
Labels: size/L, scope/core

#88 feat: new build system + visualizer
  .gitignore
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/build.js
  scripts/config.js
  src/components/forms/select.ts
  tsconfig.json
  vite.config.js
Labels: scope/ci, scope/components, size/XL

#91 fix: material form border width
  src/components/forms/_inputs.scss
  src/core/_variables.scss
Labels: scope/components, scope/core, size/S
