Repository axentix/axentix, pull requests merged in 2022-06, with the labels that each got.

#104 feat: add e2e tests
  .github/workflows/tests.yml
  CONTRIBUTING.md
  examples/buttons.html
  examples/lightbox.html
  examples/modal.html
  examples/sidenav.html
  index.html
  package-lock.json
  package.json
  playwright.config.ts
  src/components/caroulix/caroulix.ts
  tests/buttons.e2e-spec.ts
  tests/lightbox.e2e-spec.ts
  tests/modal.e2e-spec.ts
  tests/sidenav.e2e-spec.ts
Labels: scope/ci, scope/components, scope/examples, size/XXL

#106 feat: swipeable toast option
  CHANGELOG.md
  examples/toasts.html
  src/components/caroulix/caroulix.ts
  src/components/toast/toast.ts
  src/utils/utilities.ts
Labels: size/L, scope/components, scope/utils, scope/examples

#105 feat: skeleton loading
  CHANGELOG.md
  examples/grix.html
  examples/skeleton.html
  index.html
  src/components/skeleton/index.ts
  src/components/skeleton/skeleton.scss
  src/core/_variables.scss
  src/index.ts
Labels: scope/components, scope/core, scope/examples, size/M

#107 feat: add skeleton gradient animation
  examples/skeleton.html
  src/components/skeleton/skeleton.scss
Labels: scope/components, scope/examples, size/M

#108 feat: theme switcher
  src/components/theme/index.ts
  src/components/theme/theme.ts
  src/core/_mixins.scss
  src/index.ts
  src/utils/utilities.ts
Labels: scope/components, scope/core, scope/utils, size/M

#109 feat: add wb utiliies
  CHANGELOG.md
  src/components/utilities/utilities.scss
  src/core/_variables.scss
Labels: scope/components, scope/core, size/S
