Repository axentix/axentix, pull requests merged in 2022-01, with the labels that each got.

#72 fix: tooltip timeout handling (v2)
  CHANGELOG.md
  src/components/tooltip/tooltip.ts
Labels: scope/components, size/S

#74 feat(lightbox): rework to transition event
  CHANGELOG.md
  src/components/lightbox/lightbox.ts
Labels: size/L, scope/components

#76 feat: update readme / funding / license
  .github/FUNDING.yml
  LICENSE
  README.md
Labels: scope/ci, size/M

#75 feat: remove component trigger
  CHANGELOG.md
  examples/collapsible.html
  examples/dropdown.html
  examples/fab.html
  examples/layouts.html
  examples/modal.html
  src/components/collapsible/collapsible.ts
  src/components/dropdown/dropdown.ts
  src/components/fab/fab.ts
  src/components/modal/modal.ts
  src/components/sidenav/sidenav.ts
  src/utils/utilities.ts
Labels: size/L, scope/components, scope/utils, scope/examples
