Repository axentix/axentix, pull requests merged in 2022-08, with the labels that each got.

#112 feat: update vite & browser support
  .browserslistrc
  examples/lightbox.html
  package-lock.json
  package.json
  playwright.config.ts
Labels: scope/examples, size/XL

#113 feat: add close utility
  CHANGELOG.md
  src/index.ts
  src/utils/close.ts
Labels: scope/utils, size/S

#114 feat: toast closing elements
  CHANGELOG.md
  examples/toasts.html
  src/components/toast/toast.ts
Labels: scope/components, scope/examples, size/M
